@import "/src/colors.scss";
@mixin triangle {
  content: "";
  position: absolute;
  width: 0;
  height: 0px;
  border: 0 solid transparent;
}
@mixin widthHeight50 {
  height: 50px;
  width: 50px;
}
* {
  box-sizing: border-box;
}
.topbar {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 50px;
  z-index: 3;
}
.topbar-wrapper {
  background-image: url(https://cdn.dribbble.com/users/1100256/screenshots/7124464/media/94a5e074f80ae9466705cf4c833c3432.gif);
  background-size: 50%;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.contacts {
  display: inline-block;
  position: relative;
  background-color: $header-back;
  @include widthHeight50;
  & .phonebtn {
    text-align: center;
    padding-top: 9px;
  }
  & .phonecontent {
    display: inline-block;
    position: absolute;
    z-index: 3;
    background-color: $test;
    width: 230px;
    height: 30px;
    line-height: 30px;
    top: 50px;
    left: 50px;
    box-shadow: 0px 0px 10px;
    & a {
      text-decoration: none;
      font-size: 24px;
      font-weight: 500;
      color: $header-back;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0px;
      left: -15px;
      text-align: center;
      border: 0 solid transparent;
      border-top-width: 0px;
      border-bottom-width: 30px;
      border-right: 15px solid $test;
    }
  }
  .phonecontent2 {
    display: none;
  }
  &::after {
    @include triangle();
    top: 0;
    left: 50px;
    border-top-width: 50px;
    border-bottom-width: 0px;
    border-left: 25px solid $header-back;
  }
}
.logoblock {
  display: inline-block;
  position: relative;
  background-color: $header-back;
  width: 70px;
  text-align: center;
  &::before {
    @include triangle();
    top: 0;
    left: -25px;
    border-right: 25px solid $header-back;
    border-top-width: 0px;
    border-bottom-width: 50px;
  }
  &::after {
    @include triangle();
    right: -25px;
    border-left: 25px solid $header-back;
    border-top-width: 0px;
    border-bottom-width: 50px;
  }
  img {
    height: 45px;
    width: 45px;
  }
}
.accountblock {
  display: inline-block;
  position: relative;
  background-color: $header-back;
  @include widthHeight50;
  text-align: center;
  &::before {
    @include triangle();
    top: 0;
    right: 50px;
    border-right: 25px solid $header-back;
    border-top-width: 50px;
    border-bottom-width: 0px;
  }
  & img {
    padding: 9px 0 0 0;
  }
}
.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $header-back;
  color: $header-txt;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  & button {
    @include widthHeight50;
  }
}
.menu {
  @include widthHeight50();
  position: relative;
  .menu-btn {
    text-align: center;
    height: 50px;
    img {
      max-width: 32px;
      padding: 9px 0 0 0;
      pointer-events: none;
    }
  }
  .menu-nav {
    position: absolute;
    z-index: 3;
    width: 130px;
    animation: menuinit 0.4s;
    background-color: $test;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        margin: 5px auto;
        width: 80px;
      }
    }
  }
  @keyframes menuinit {
    0% {
      left: -130px;
    }
    100% {
      left: 0px;
    }
  }
}
.nav-wide {
  display: none;
}
.right-side {
  display: flex;
  width: 50%;
  padding-right: 5px;
  justify-content: flex-end;
}
.cart {
  position: relative;
  display: inline-block;
  align-self: end;
  width: 50px;
  height: 50px;
  text-align: center;

  img {
    max-width: 32px;
    padding-top: 9px;
  }
  .cart-modal {
    position: absolute;
    top: 50px;
    left: -265px;
    width: 320px;
    height: 320px;
    animation: init 0.2s linear;
    padding: 10px;
    z-index: 3;
    background-color: $filter-back;
    h2 {
      display: block;
      font-family: "Jura", sans-serif;
      font-weight: 600;
      margin-bottom: 15px;
      border-bottom: 3px solid $header-txt;
    }
  }
  @keyframes init {
    0% {
      height: 0px;
    }
    100% {
      height: 320px;
    }
  }
}

@media (min-width: 500px) {
  .contacts {
    width: 100px;
    &::after {
      left: 100px;
    }
  }
  .accountblock {
    width: 100px;
    &::before {
      right: 100px;
    }
  }
}
@media (min-width: 890px) {
  .topbar-wrapper {
    max-width: 1000px;
  }
  .contacts {
    width: 300px;
    &::before {
      @include triangle;
      left: -50px;
      border-top-width: 50px;
      border-bottom-width: 0;
      border-right: 50px solid $header-back;
    }
    &::after {
      left: 300px;
    }
    .phonebtn {
      display: none;
    }
    .phonecontent2 {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 50px;
      background-color: $header-back;
      top: 0;
      left: 0;
      text-align: center;
      &::before {
        display: none;
      }
      a {
        line-height: 50px;
        color: $body;
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
  .accountblock {
    width: 300px;
    &::before {
      right: 300px;
    }
    &::after {
      @include triangle;
      right: -50px;
      border-top-width: 50px;
      border-bottom-width: 0;
      border-left: 50px solid $header-back;
    }
  }
}
@media (min-width: 1100px) {
  .navbar {
    padding: 0 50px;
    &::before {
      @include triangle;
      left: -50px;
      border-top-width: 50px;
      border-bottom-width: 0;
      border-right: 50px solid $header-back;
    }
    &::after {
      @include triangle;
      right: -50px;
      border-top-width: 50px;
      border-bottom-width: 0;
      border-left: 50px solid $header-back;
    }
  }
  .menu {
    display: none;
  }
  .nav-wide {
    display: inline-block;
    height: 50px;
    width: 50%;
    overflow: hidden;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding-left: 25px;
      font-size: 24px;
      font-weight: 700;
      li {
        position: relative;
        color: $test;
        line-height: 50px;
        width: 120px;
        text-align: center;
        outline: none;
        cursor: default;
        &:first-child {
          &::before {
            content: "";
            position: absolute;
            transform: rotate(45deg);
            left: -5px;
            top: -20px;
            width: 3px;
            height: 100px;
            background-color: $body;
          }
        }
        &::after {
          content: "";
          position: absolute;
          transform: rotate(45deg);
          right: 0;
          top: -20px;
          width: 3px;
          height: 100px;
          background-color: $body;
        }
      }
    }
  }
  .right-side {
    padding-right: 50px;
  }
  .cart {
    &::before {
      content: "";
      position: absolute;
      transform: rotate(-45deg);
      left: -20px;
      top: -20px;
      width: 3px;
      height: 100px;
      background-color: $body;
    }
    &::after {
      content: "";
      position: absolute;
      transform: rotate(-45deg);
      right: -30px;
      top: -20px;
      width: 3px;
      height: 100px;
      background-color: $body;
    }
    .cart-modal {
      left: -450px;
      width: 550px;
      height: 500px;
      border-right: 3px solid $body;
    }
  }
  @keyframes init {
    0% {
      height: 0px;
    }
    100% {
      height: 500px;
    }
  }
}
