<header class="header">
    <div class="topbar">
        <div class="topbar-wrapper">
            <div class="contacts">
                <div class="phonebtn">
                    <img src="/assets/phone.png" alt="">
                </div>
                <div class="phonecontent"><a href="tel:+380952177378">+380(95)217-73-78</a></div>
            </div>
            <div class="logoblock">
                <img src="/assets/nucleus.png" alt="">
            </div>
            <div class="accountblock">
                <img src="/assets/account.png" alt="">
            </div>
        </div>
    </div>
    <div class="navbar">
        <!-- <button>X</button> -->
    </div>
</header>