<div class="main-wrapper">
    <h2>WebProject</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae rerum dolore earum dignissimos ut maxime
        similique mollitia, totam commodi qui nesciunt. Facere esse dolorem vitae harum cumque laborum illum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae rerum dolore earum dignissimos ut maxime
        similique mollitia, totam commodi qui nesciunt. Facere esse dolorem vitae harum cumque laborum illum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quae rerum dolore earum dignissimos ut maxime
        similique mollitia, totam commodi qui nesciunt. Facere esse dolorem vitae harum cumque laborum illum.</p>
    <img src="https://3dtoday.ru/upload/main/ddf/ddf13a1b0722be38520ea72670e84d10.gif" alt="">
</div>