<div class="cart-wrapper">
    <div class="cart-check">
        <div *ngIf="this.bufer.length === 0" class="cart-empty">
            Your Cart is empty!
        </div>
        <div class="cart-content">
            <div *ngFor="let item of bufer" class="cart-item">
                <div class="cart-img">
                    <img [src]="item.img" [alt]="item.title">
                </div>
                <div class="cart-name">{{item.title}}</div>
                <div class="cart-price">{{item.price}}$ x {{item.quantity}} = {{item.price*item.quantity}}$</div>
                <div class="cart-itemclear" (click)="this.Cart.deleteItem(item)">
                    <img src="/assets/sold-btn.png" alt="">
                </div>
            </div>

        </div>
        <div *ngIf="this.bufer.length !== 0" class="cart-btns">
            <div class="cart-clear" (click)="cleanCart()">Clear all</div>
            <div class="cart-sum"> Total: {{this.Cart.getSum()}}</div>
            <div class="cart-buy">Buy</div>
        </div>
    </div>
</div>