@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
@import "/src/colors.scss";
* {
  font-family: "Jura", sans-serif;
}
body {
  min-width: 320px;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  background-color: $body;
  & a {
    text-decoration: none;
  }
}
